<div [ngClass]="getClass()">
    <h4 [ngStyle]="{marginBottom: '20px'}">
        <a [routerLink]="['/cars', carItem.id, carItem.name]">{{ carItem.name }}</a>
        <span
                class="badge badge-pill badge-secondary" [ngStyle]="{background: carItem.color}" >
            ID: {{carItem.id}}
        </span>
    </h4>
    <div>
        <button class="btn btn-sm btn-primary"
                [disabled]="carItem.isSold"
                (click)="onAction('buy')"
        >Купить</button>
        <button class="btn btn-sm btn-light"
                [disabled]="!carItem.isSold"
                (click)="onAction('return')"
        >Вернуть</button>
        <button class="btn btn-sm btn-primary" (click)="setNewColor()">Изменить цвет</button>
        <button class="btn btn-sm btn-danger" (click)="deleteCar()">Удалить машину</button>
    </div>

</div>