<div [ngStyle]="{'margin-bottom': '20px'}">
    <div [@clickedDiv]=clickedDiveState
         (click)="changeDivState()"
         (mousedown)="clickedDiveState = 'active'"

    ></div>
</div>
<div  [ngStyle]="{'margin-bottom': '20px'}"
      [@multi] = multiState
      (click)="multiState = multiState === 'start' ? 'end': 'start'"
>
</div>
<hr>
<button class="btn btn-primary" (click)="isVisible = !isVisible">Переключить</button>
<hr>
<div class="alert alert-danger"
     [@divTrigger]="'show'"
     *ngIf="isVisible"
>
    It is a cloudy tragedy, sir.
</div>