<div class="col-xs-8 col-xs-offset-2">
    <form  (ngSubmit)="submitForm(form)" #form="ngForm">
        <div ngModelGroup="user" #user="ngModelGroup">
            <div class="form-group">
                <label>Email</label>
                <input  [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
                        type="text"
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email
                        #email="ngModel"
                >
                <p *ngIf="email.invalid && email.touched">Введите корректный email</p>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input  [ngClass]="{ 'is-invalid': pass.invalid && pass.touched }"
                        type="password"
                        class="form-control"
                        ngModel
                        name="password"
                        required
                        #pass="ngModel"
                >
                <p *ngIf="pass.invalid && pass.touched">Пароль не должен быть пустым</p>
            </div>
        </div>
        <p *ngIf="user.invalid && user.touched">Данные пользователя введены не корректно</p>
        <div class="form-group">
            <label>Выберите страну</label>
            <select
                    class="form-control"
                    [ngModel]="defaultCountry"
                    name="country"
                    required
            >
                <option value="ru">Россия</option>
                <option value="by">Белоруссия</option>
                <option value="ua">Украина</option>
            </select>
        </div>
        <div class="radio" *ngFor="let ans of answers">
            <label>
                <input
                        required
                        type="radio"
                        [value]="ans.type"
                        [ngModel]="defaultAnswer"
                        name="answer"
                > {{ans.text}}
            </label>
        </div>
        <button
                [disabled]="!form.valid"
                class="btn btn-success"
                type="submit">Сохранить
        </button>
    </form>
</div>