<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/directive">Директивы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pipes">Пайпы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dynamic">Динамический фильтр</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Регистрация</a>
            </li>
        </ul>
        <span class="navbar-text">
     Stady Angular!!
    </span>
    </div>
</nav>
<hr>
<router-outlet></router-outlet>
