<input class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<p *ngIf="!addCarStatus; else success" >Машина не добавлена</p>
<ng-template #success> <!-- референция для того чтоб знать что вывести в случае если отработал блок else -->
<p >Машина добавлена</p>
</ng-template>
<hr>

<!--<app-car *ngFor="let car of cars"></app-car>-->

<ul>
    <li *ngFor="let data of dates; let idx = index">        <!-- индекс это  текущий индекс отображаемой ячейки-->
        <div>
            <b>{{idx + 1}}</b> - {{ data | uppercase }}
            <br>
            <b>{{idx + 1}}</b> - {{ data | date: 'medium' }}
        </div>
    </li>
</ul>