<div class="col-sm-12 col-sm-offset-2 col-xl-8">
    <h1>{{ appTitle | async }}</h1>
    <p>Форма добавления машины</p>
    <hr>
    <app-add-car (carEmitter)="updateArray($event)"></app-add-car>
    <hr>
    <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
    <hr>
    <p *ngIf="error; else block" class="error">{{ error }}</p>
    <ng-template #block>
        <div *ngIf="!loading; else loadingBlock">
            <div class="list-group">
                <app-car (carDeleteEmitter)="deleteCar($event)"
                         class="list-group-item" *ngFor="let car of cars" [carItem]="car" >
                </app-car>
            </div>
        </div>
        <ng-template #loadingBlock>
            <p>...Loading...</p>
        </ng-template>
    </ng-template>
</div>